{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="header py-5">
    <div class="container shadow-lg p-3 mb-5 bg-white rounded ">
        <div class="header">
            <hr>
            <em align="center">
                <h2>LISTE DES PRODUITS</h2>
            </em>
            <hr>
            <p align="right"><strong><em>TOTAL :</em> {{ numberOfProduct }}</strong></p>
        </div>

        <div class="">
            <table class="table table-bordered">
                <thead class="bg-success text-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">DESIGNATIONS</th>
                        <th scope="col">NBRES</th>
                        <th scope="col">PRIX</th>
                        <th scope="col">DATE D'ENTREES</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in all_products %}
                    <tr>
                        <th>{{ article.id }}</th>
                        <td>{{ article.label }}</td>
                        <td>{{ article.quantity }}</td>
                        <td>{{ article.price }}</td>
                        <td align="center">{{ article.creation }}</td>
                        <td align="">

                            <a type="" class="btn btn-warning" href="{% url 'select_one_article' article.id %}"
                                id="Edit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pen" viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                </svg>
                                Edit
                            </a>
                            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" id="delete">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered text-dark">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="container">
                                                <p align="center"><strong>Etes-vous sûr de vouloir supprimer cet
                                                        article? {{ article.id }}</strong></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="close" class="btn btn-danger"
                                                data-bs-dismiss="modal">Non</button>
                                            <a type="button" class="btn btn-warning"
                                                href="{% url 'delete_one_article' article.id %}">
                                                Oui
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="mb-3">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1">Ajouter un article</button>
                <a type="button" class="btn btn-light" href="{% url 'categories' %}">Retour à l'accueil</a>

                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered text-dark">
                        <div class="modal-content">
                            <div class="modal-header bg-light text-dark">
                                <h3>Ajouter un article</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/product/add/" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="mb-3">
                                            <label for="label-name" class="col-form-label">Désignation:</label>
                                            <input type="text" class="form-control" id="label-name" name="label"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="price" class="col-form-label">Prix Unitaire:</label>
                                            <input type="number" class="form-control" id="price" name="price" required
                                                oninput="checkPrice()">
                                            <p><label id='message'></label></p>
                                        </div>
                                        <div class="mb-3">
                                            <label for="quantity" class="col-form-label">Quantité:</label>
                                            <input type="number" class="form-control" id="quantity" name="quantity"
                                                oninput="checkQuantity()" required>
                                            <p><label id='msg'></label></p>
                                        </div>
                                        <div class="mb-3">
                                            <label for="cat-name" class="col-form-label">Catégorie:</label>
                                            <select class="form-select" id="cat-name" name="categorie" required>

                                                {% for category in all_categories %}
                                                <option value="{{ category.id }}">{{ category.category }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="creation" class="col-form-label">Date de création:</label>
                                            <input type="date" class="form-control" id="creation" name="creation"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer bg-light">
                                    <button type="close" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-success">Ajouter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}